* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(227, 227, 227) ;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    align-items: center;
}

.conteiner {
    width: 1000px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
}

.block {
    border: 1px solid rgb(114, 97, 97);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 180px;
}

img {
    margin-bottom: 20px;
}